$button-background: $primary-color;
$button-padding-vertical: 0.85em;
$button-padding-horizontal: 1em;
$button-padding: $button-padding-vertical $button-padding-horizontal;
$button-color: $primary-color-background-text-color;

$button-hover-background: $hover-primary-color;
$button-hover-color: $hover-primary-color-background-text-color;
